.overlay {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(247, 247, 247, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
    min-width: 60px;
}

.overlay-content {
    position: relative;
    /*top: 25%;*/
    width: 100%;
    text-decoration: none;
    color: #818181;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    font-size: 36px;
    display: block;
    transition: 0.2s;
}

.overlay .sidebar-toggle-btn {
    position: absolute;
    top: 20px;
    right: 0%;
    text-decoration: none;
    font-size: 3vw;
    color: rgb(41, 43, 44) !important;
}

.sidebar-header-closed {
    padding: 2vw !important;
}


.sidebar-header-open {
    right: 2%;
}

#sidebar-reserve {
    max-width: 2% !important;
}

.sidebar-control {
    margin-top: 10vh;
}

.sidebar-icon {
    width: 2vw;
    margin-left: 0.5vw;
}

.sidebar-control-name {
    margin-left: 1vw;
}

.overlay-closed {
    text-align: center;
    min-width: 3vw;
    max-width: 3vw;
    padding: 0.5vw;
}

.overlay-closed > .overlay-content > .sidebar-control {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    /*background-color: red;*/
}

.overlay-open {
    min-width: 100px;
    padding-left: 50px;
}

.sidebar-content {
    margin: 10px;
}

.sidebar-title-seal {
    display: flex;
    justify-content: left;
    padding-left: 10px;
}